#root {
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userInfo {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.userInfo_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo_image img{
  width: 100px;
  height: 100px;
}

.userInfo_description {
  padding-right: 10px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

