#root {
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.userInfo {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.userInfo_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo_image img{
  width: 100px;
  height: 100px;
}

.userInfo_description {
  padding-right: 10px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.posts {
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: 300px;
  min-height: 100px;
  width: 500px;
  border: 1px solid white;
  border-radius: 5px;
}

.posts ul {
  list-style-type: none;
  padding: 20px;
}
