body{
    background: #171717;;
}

.container{
    position: fixed;
    inset: 0;
    background-image: linear-gradient(#051327, #000);
}

.space{
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveMeteors var(--duration) linear infinite;
}

@keyframes moveMeteors {
    from {transform: translateY(0);}
    to {transform: translateY(-100vh);}
}